<a href="https://colab.research.google.com/github/KubraErensoy/IMDb_WebScraping/blob/main/boxofficemojo_imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

In [55]:
# URL page we will scraping (see image above)
url = "https://www.boxofficemojo.com/chart/ww_top_lifetime_gross"
# this is the HTML from the given URL
html = urlopen(url)
soup = BeautifulSoup(html,'lxml')

In [56]:
# use findALL() to get the column headers
soup.findAll('tr', limit=2)
# use getText()to extract the text we need into a list
headers = [th.getText() for th in soup.findAll('tr', limit=2)[0].findAll('th')]
# exclude the first column as we will not need the ranking order from Boxoffice Reference for the analysis
headers = headers[0:]
headers

['Rank\n',
 'Title\n',
 'Worldwide Lifetime Gross\n',
 'Domestic Lifetime Gross\n',
 'Domestic %\n',
 'Foreign Lifetime Gross\n',
 'Foreign %\n',
 'Year\n']

In [57]:
# avoid the first header row
rows = soup.findAll('tr')[1:]
movies = [[td.getText() for td in rows[i].findAll('td')]
            for i in range(len(rows))]

In [58]:
movie = pd.DataFrame(movies, columns = headers)
movie.head(10)

,Rank\n,Title\n,Worldwide Lifetime Gross\n,Domestic Lifetime Gross\n,Domestic %\n,Foreign Lifetime Gross\n,Foreign %\n,Year\n
0,1,Avatar,"$2,847,379,794","$760,507,625",26.7%,"$2,086,872,169",73.3%,2009
1,2,Avengers: Endgame,"$2,797,501,328","$858,373,000",30.7%,"$1,939,128,328",69.3%,2019
2,3,Titanic,"$2,201,647,264","$659,363,944",30%,"$1,542,283,320",70%,1997
3,4,Star Wars: Episode VII - The Force Awakens,"$2,069,521,700","$936,662,225",45.3%,"$1,132,859,475",54.7%,2015
4,5,Avengers: Infinity War,"$2,048,359,754","$678,815,482",33.1%,"$1,369,544,272",66.9%,2018
5,6,Spider-Man: No Way Home,"$1,892,310,488","$804,310,488",42.5%,"$1,088,000,000",57.5%,2021
6,7,Jurassic World,"$1,671,537,444","$653,406,625",39.1%,"$1,018,130,819",60.9%,2015
7,8,The Lion King,"$1,662,899,439","$543,638,043",32.7%,"$1,119,261,396",67.3%,2019
8,9,The Avengers,"$1,518,815,515","$623,357,910",41%,"$895,457,605",59%,2012
9,10,Furious 7,"$1,515,341,399","$353,007,020",23.3%,"$1,162,334,379",76.7%,2015

In [59]:
movie.to_csv("boxoffice_imdb_movie.csv", index=False)